/* 初始化标签样式 */
html, body {
  height: 100%;
  width: 100%;
  padding: 0px;
  margin: 0px;
  font: 14px 'Lato', sans-serif;
  color: #ffffff;
}

p, ul, li, span{
  margin: 0;
  padding: 0;
}

a{
  color: #ffffff;
  text-decoration: none;
}

/*边框样式*/
.content-border{
  border: 5px solid;
  border-color: rgba(255,255,255,0.5);
  border-radius: 10px;
}

.content-thin-border{
  border: 2px solid;
  border-color: rgba(255,255,255,0.5);
  border-radius: 10px;
}

.content-thinner-border{
  border: 1px solid;
  border-color: rgba(255,255,255,0.5);
  border-radius: 8px;
}


/* 主容器模糊遮罩层 */
.overlay{
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  z-index: -1;
}

.article{
  margin: 5px;
}

.article-a{
  font-size: 16px;
  line-height: 25px;
}

.article-p{
  margin: 8px 0 10px 5px;
  text-indent: 20px;
}

.clearfix{
  overflow:auto;
  _height:1%;
}

/* 主容器样式 */
#container{
  position: fixed;
  width: 100%;
  min-height: 100%;
  background: url(../images/bgcover.jpg) center center no-repeat fixed;
  background-size: cover;
}

/*居中主容器*/
#mid-container{
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
}

/* 顶部菜单栏 */
#mid-menu{
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
  width: 980px;
}

/*居中正文容器*/
#mid-content-container{
  margin-top: 30px;
  width: 980px;
  margin-right: auto;
  margin-left: auto;
}

.mid-menu-ul{
  padding: 5px 5px 5px 20px;
  margin-right: 0 auto;
  margin-left: 0 auto;
}

.mid-menu-ul-li{
  list-style: none;
  font-size: 18px;
  letter-spacing: 2px;
  float: left;
  padding: 12px;
}

.mid-menu-ul-li.active{
  border-bottom-color: #1f8fc2;
  border-bottom-style: solid;
  border-bottom-width: 2px;
}

/*正文内容*/
#mid-left-content{
  width: 600px;
  min-height: 680px;
  margin: 20px 0 20px 20px;
  float: left;
}

.pagination{
  float: left;
  position: relative;
  left: 380px;
  top: -10px;
}

.pagination-ul{
  list-style: none;
  line-height: 30px;
  /*float: left;*/
  /*position: relative;*/
  /*left: 50%;*/
}

.pagination-ul-li{
  display: inline;
  float: left;
  /*position: relative;*/
  /*right: 50%;*/
}

.pagination-ul-li-a{
  border-radius: 4px;
  margin-right: 5px;
  padding: 4px;
}

.pagination-ul-li-a:hover{
  background: rgba(255,255,255,0.5);
}

/*右侧搜索框*/
#mid-right-search{
  width: 300px;
  min-height: 500px;
  float: right;
  margin: 20px 20px 5px 0;
  /*子元素居中，但无text-align的浏览器兼容性差*/
  text-align: center;
}

#content-search{
  width: 80%;
  margin-top: 8px;
  font-size: 18px;
  display: inline-block;
  line-height: 26px;
  background: rgba(255,255,255,0);
}

.search-icon{
  width: 20px;
  height: 20px;
  display: inline-block;
  background: url(../images/search3.ico);
  -webkit-background-size: 20px;
  background-size: 20px;
  position: relative;
  top: 5px;
}

#label-cloud{
  width: 80%;
  display: inline-block;
}

.label-cloud{
  float: left;
  margin: 10px 10px 0 0;
  padding: 4px 4px 4px 4px;
}

.label-cloud-a:hover{
  background-color: rgba(255,255,255,0.5);
}

/**/
#mid-right-other{
  width: 300px;
  min-height: 190px;
  float: right;
  margin: 20px 20px 5px 0;
}

